/*导航条面包按钮样式*/
.ikuai-bread {
    background: #000;
}
.ikuai_navbar .ikuai-bread .icon-bar {
    background-color: #FFF;
}
/*头部container媒体查询*/
@media (min-width: 1200px) {
    .container {
        width: 1330px;
        margin: 0 auto;
        padding: 0px 15px;
    }
}
/*头部导航条*/
@media (max-width: 767px) {
    .ikuai_nav>li {
        float: none;
    }
    .header-logo {
        float: left;
        width: 95px;
        height: 37px;
        padding-top: 3px;
        margin-left: 50px;
    }
    .header-logo>img {
        max-height: 100%;
    }
    .ikuai_navbar {
        min-height: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        background-color: #E6F3FA;
    }
    .ikuai_nav>li>a {
        padding: 9px 15px;
        color: rgba(52, 73, 94, 0.75);
    }
    .ikuai_nav>li>a:hover {
        background: #337ab7;
        color: #FFF;
    }
    .language>a {
        float: left;
    }
    .language>span {
        float: left;
        height: 28px;
        padding: 10px 0px;
    }
    li.language>a:hover {
        background: #FFF;
        color: #337ab7;
    }
    .ikuai_navbar .mob-devices {
        max-height: none;
    }
    .overList:hover>ul {
        display: block;
    }
    .overList>ul {
        display: none;
        width: 100%;
        position: static;
        right: 0;
        left: auto;
        top: auto;
        max-width: none;
        padding: 0px;
        background: #FFF;
        margin: 0px 15px;
        box-shadow: none;
        border: 0px;
    }
    .overList>ul>li {
        padding-right: 20px;
    }
    .overList>ul>li>a {
        width: 100%;
        padding: 9px 15px;
        padding-top: 8px;
        font-weight: bold;
        display: block;
        color: rgba(52, 73, 94, 0.75);
    }
    .overList>ul>li>a:hover {
        background-color: #F2F2F2;
        border-radius: 6px;
        color: #FFF;
    }

}
@media (min-width: 768px) and (max-width: 979px) {
    .header-logo {
        float: left;
        width: 95px;
        height: 37px;
        padding-top: 3px;
    }
    .header-logo>img {
        max-height: 100%;
    }
    .language>span {
        padding: 4px 1px;
    }
    .ikuai_nav>li {
        padding-top: 7px;
    }
    .ikuai_navbar {
        min-height: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        background-color: #E6F3FA;
    }
    .ikuai_nav > li > a {
        display: inline-block;
        padding: 4px 8px;
        margin: 0 0px;
        color: #9b9b9b;
    }
    .ikuai_nav>li>a:hover {
        background: #337ab7;
        color: #FFF;
    }
    .ikuai_nav .btn_nav {
        padding-top: 5px;
    }
    .ikuai_nav>li:nth-of-type(7)>a,
    .ikuai_nav>li:nth-of-type(8)>a {
        border: 1px solid #9b9b9b;
    }
    .ikuai_nav>li:nth-of-type(7)>a:hover,
    .ikuai_nav>li:nth-of-type(8)>a:hover {
        border: 1px solid #337ab7;
    }
    .ikuai_nav>li:nth-of-type(7)>a:hover,
    .ikuai_nav>li:nth-of-type(8)>a:hover,
    .ikuai_nav>li:nth-of-type(9)>a:hover {
        background: #FFF;
        color: #337ab7;
    }
    li.language>a {
        padding: 4px 0px;
    }
    .overList:hover>ul {
        visibility: visible;
    }
    .overList>ul {
        display: block;
        padding: 0px;
        border-radius: 6px;
        background: #F2F2F2;
        margin-top: 8px;
        border: 0px;
        visibility: hidden;
        transition: 0.25s;
    }
    .overList>ul::before {
        position: absolute;
        top: -7px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
        right: 12px;
        left: auto;
    }
    .overList>ul::after {
        position: absolute;
        top: -6px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
        right: 13px;
        left: auto;
    }
    .overList>ul>li {
        margin-left: 0px;
    }
    .overList>ul>li>a {
        padding: 8px 15px;
        color: rgba(52, 73, 94, 0.75);
    }
    .overList>ul>li>a:hover {
        background: #337ab7;
        color: #FFF;
    }
    .overList>ul>li:nth-of-type(1)>a:hover {
        border-radius: 6px 6px 0px 0px;
    }
    .overList>ul>li:nth-of-type(3)>a:hover {
        border-radius: 0px 0px 6px 6px;
    }
}
@media (min-width: 980px) and (max-width: 1199px){
    .header-logo {
        float: left;
        width: 95px;
        height: 37px;
        padding-top: 3px;
    }
    .header-logo>img {
        max-height: 100%;
    }
    .language>span {
        padding: 4px 1px;
    }
    .ikuai_nav>li {
        padding-top: 7px;
    }
    .ikuai_navbar {
        min-height: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        background-color: #E6F3FA;
    }
    .ikuai_nav > li > a {
        display: inline-block;
        padding: 4px 8px;
        margin: 0 0px;
        color: #9b9b9b;
    }
    .ikuai_nav>li>a:hover {
        background: #337ab7;
        color: #FFF;
    }
    .ikuai_nav .btn_nav {
        padding-top: 5px;
    }
    .ikuai_nav>li:nth-of-type(7)>a,
    .ikuai_nav>li:nth-of-type(8)>a {
        border: 1px solid #9b9b9b;
    }
    .ikuai_nav>li:nth-of-type(7)>a:hover,
    .ikuai_nav>li:nth-of-type(8)>a:hover {
        border: 1px solid #337ab7;
    }
    .ikuai_nav>li:nth-of-type(7)>a:hover,
    .ikuai_nav>li:nth-of-type(8)>a:hover,
    .ikuai_nav>li:nth-of-type(9)>a:hover {
        background: #FFF;
        color: #337ab7;
    }
    li.language>a {
        padding: 4px 0px;
    }
    .overList:hover>ul {
        visibility: visible;
    }
    .overList>ul {
        display: block;
        padding: 0px;
        border-radius: 6px;
        background: #F2F2F2;
        margin-top: 8px;
        border: 0px;
        visibility: hidden;
        transition: 0.25s;
    }
    .overList>ul::before {
        position: absolute;
        top: -7px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
        right: 12px;
        left: auto;
    }
    .overList>ul::after {
        position: absolute;
        top: -6px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
        right: 13px;
        left: auto;
    }
    .overList>ul>li {
        margin-left: 0px;
    }
    .overList>ul>li>a {
        padding: 8px 15px;
        color: rgba(52, 73, 94, 0.75);
    }
    .overList>ul>li>a:hover {
        background: #337ab7;
        color: #FFF;
    }
    .overList>ul>li:nth-of-type(1)>a:hover {
        border-radius: 6px 6px 0px 0px;
    }
    .overList>ul>li:nth-of-type(3)>a:hover {
        border-radius: 0px 0px 6px 6px;
    }
}
@media (min-width: 1200px) {
    .header-logo {
        float: left;
        width: 95px;
        height: 37px;
        padding-top: 3px;
        margin-left: 50px;
    }
    .header-logo>img {
        max-height: 100%;
    }
    .language>span {
        padding: 4px 1px;
    }
    .ikuai_nav>li {
        padding-top: 7px;
    }
    .ikuai_navbar {
        min-height: 40px;
        margin-bottom: 20px;
        background: #E6F3FA;
        border-bottom:  1px solid #d4d4d4;;
    }
    .ikuai_nav li {
        margin-left: 10px;
    }
    .ikuai_nav > li > a {
        display: inline-block;
        padding: 4px 15px;
        margin: 0 5px;
        color: #9b9b9b;
    }
    .ikuai_nav>li>a:hover {
        background: #337ab7;
        color: #FFF;
    }
    .ikuai_nav .btn_nav {
        padding-top: 5px;
    }
    .ikuai_nav>li:nth-of-type(7)>a,
    .ikuai_nav>li:nth-of-type(8)>a {
        border: 1px solid #9b9b9b;
    }
    .ikuai_nav>li:nth-of-type(7)>a:hover,
    .ikuai_nav>li:nth-of-type(8)>a:hover {
        border: 1px solid #337ab7;
    }
    .ikuai_nav>li:nth-of-type(7)>a:hover,
    .ikuai_nav>li:nth-of-type(8)>a:hover,
    .ikuai_nav>li:nth-of-type(9)>a:hover {
        background: #FFF;
        color: #337ab7;
    }
    .language {
        width: 180px;
        margin-left: 25px;
    }
    li.language>a {
        padding: 4px 0px;
    }
    .overList:hover>ul {
        visibility: visible;
    }
    .overList>ul {
        display: block;
        padding: 0px;
        border-radius: 6px;
        background: #F2F2F2;
        margin-top: 8px;
        border: 0px;
        visibility: hidden;
        transition: 0.25s;
    }
    .overList>ul::before {
        position: absolute;
        top: -7px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
        right: 12px;
        left: auto;
    }
    .overList>ul::after {
        position: absolute;
        top: -6px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
        right: 13px;
        left: auto;
    }
    .overList>ul>li {
        margin-left: 0px;
    }
    .overList>ul>li>a {
        padding: 8px 15px;
        color: rgba(52, 73, 94, 0.75);
    }
    .overList>ul>li>a:hover {
        background: #337ab7;
        color: #FFF;
    }
    .overList>ul>li:nth-of-type(1)>a:hover {
        border-radius: 6px 6px 0px 0px;
    }
    .overList>ul>li:nth-of-type(3)>a:hover {
        border-radius: 0px 0px 6px 6px;
    }
}
/*顶部背景图*/
.top_banner {
    width: 100%;
    height: 200px;
    background: url("../img/hardwareImg/Banner_hw.jpg") bottom #0088cc no-repeat;
    border-bottom: 1px solid #CCC;
    margin-bottom: 40px;
}
/*标题和tab分栏导航*/
.hardware_tit {
    margin-bottom: 20px;
}
.hardware_tit>h3 {
    font-size: 34px;
    letter-spacing: 0.08em;
    font-weight: inherit;
    color: #404040;
    margin: 0px;
}
.hardware_tit>p {
    font-size: 18px;
    letter-spacing: 0.06em;
    color: #7c7c7c;
    margin: 0px;
}
/*标签页*/
.ikuai_nav_tabs {
    margin: 0 auto 50px;
    display: table;
    border-bottom: 0px;
}
.ikuai_nav_tabs>li {
    margin: 10px 10px 0px 10px;
}
.ikuai_nav_tabs>li>a {
    padding: 5px 25px;
    color: #666666;
}
.ikuai_nav_tabs>li>a:hover {
    background: #FFF;
    border: 1px solid #9b9b9b;
}
.ikuai_nav_tabs>li.active>a {
    border: 1px solid #9b9b9b;
}
.ikuai_nav_tabs>li:nth-of-type(7)>a>span {
    position: absolute;
    top: -13px;
    right: -3px;
    display: block;
    background-color: #cc0033;
    font-size: 8px;
    color: #FFF;
    padding: 2px 5px;
    line-height: 14px;
    border-radius: 3px;
}
.ikuai-gateway {
    margin-bottom: 30px;
}
.hardware-img {
    padding: 0px;
}
/*图片位置*/
.img-position {
    margin: 0 auto;
}
@media (min-width: 768px) {
    .img-position {
        margin-left: auto;
        margin-right: 0px;
    }
}
.routeModel {
    padding: 10px 0px 10px 20px;
}
.routeModel>h4 {
    color: #555;
    font-weight: normal;
    padding: 20px 0px 10px;
    line-height: 20px;
}
.routeModel>h4>span {
    vertical-align: middle;
    font-size: 12px;
    color: #44b034;
    font-family: Arial,"微软雅黑",Tahoma,Helvetica,sans-serif;
}
.routeParam {
    padding: 0px 0px 10px 20px;
}
.routeParam>strong {
    color: #0088cc;
    font-size: 14px;
    font-weight: bold;
}
.routeParam>p {
    color:#7c7c7c;
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 19px;
}
.routeFunction {
    padding: 0px 0px 10px 20px;
}
.routeFunction>strong {
    color: #0088cc;
    font-size: 14px;
    font-weight: bold;
}
.routeFunction>p {
    color: rgb(124, 124, 124);
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 19px;
}
.purchaseChannel {
    padding: 10px 0px 10px 18px;
}
.purchaseChannel>a:hover {
    text-decoration: none;
    color: #FFF;
    opacity: 0.8;
}
.purchaseChannelBtn {
    color: #FFF;
    background: #3498db;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
    padding: 10px 15px;
    display: inline-block;
}
.purchaseTMall {
    color: #FFF;
    background: #e74c3c;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
    padding: 10px 15px;
    display: inline-block;
}
.purchaseJD {
    color: #FFF;
    background: #e74c3c;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
    padding: 10px 15px;
    display: inline-block;
}
section:nth-of-type(2) {
    margin-bottom: 90px;
}

/*底部样式*/
footer {
    padding: 20px 0px;
    background-color: #333;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #BAC1C8;
}
.pad {
    padding: 0px;
}
footer dl {
    margin: 0px;
}
footer dl dt {
    padding: 15px 0px;
    font-size: 16px;
}
footer dl dd {
    font-size: 14px;
    line-height: 30px;
}
footer dl dd a, footer dl dd a:hover {
    color: #BAC1C8;
}
.footer_guild {
    padding: 0px 20px 20px;
}
.footer_service {
    padding-right: 20px;
}
.footer_service h2 {
    margin: 20px 0px 0px;
}
.footer_service p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
@media (min-width: 992px) {
    .footer_service {
        text-align: right;
    }
}
@media (min-width: 768px) {
    .footer_service {
        text-align: right;
    }
}
@media (max-width: 768px) {
    .footer_service {
        text-align: center;
    }
}
.weichat img {
    width: 98px;
    height: auto;
    max-width: 100%;
    /*vertical-align: center;*/
    margin-top: 20px;
}
.weichat p {
    font-size: 15px;
}
.footer_copyRight {
    padding: 30px 0px 15px;
}
.footer_copyRight p {
    line-height: 20px;
}
/*ikuai-container的媒体查询*/
@media (max-width: 767px) {
    .ikuai-container {
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 979px) and (min-width: 768px) {
    .ikuai-container {
        width: 724px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 1199px) and (min-width: 980px) {
    .ikuai-container {
        width: 940px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 1200px) {
    .ikuai-container {
        width: 1330px;
        margin-right: auto;
        margin-left: auto;
    }
}